* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.grass {
  background: rgb(72, 208, 176);
  color: rgb(72, 208, 176);
}
.fire {
  background-color: #ff4d4d;
  color: #ff4d4d;
}
.water {
  background-color: #4da6ff;
  color: #4da6ff;
}
.electric {
  background-color: #ffff4d;
  color: #ffff4d;
}
.normal {
  background-color: #b3b3b3;
  color: #b3b3b3;
}
.ice {
  background-color: #b3ffff;
  color: #b3ffff;
}
.fighting {
  background-color: #b30000;
  color: #b30000;
}
.poison {
  background-color: #b300b3;
  color: #b300b3;
}
.ground {
  background-color: #b38c00;
  color: #b38c00;
}
.flying {
  background-color: #b3b3ff;
  color: #b3b3ff;
}
.psychic {
  background-color: #ff4dff;
  color: #ff4dff;
}
.bug {
  background-color: #b3b300;
  color: #b3b300;
}
.rock {
  background-color: #b38c4d;
  color: #b38c4d;
}
.ghost {
  background-color: #4d4dff;
  color: #4d4dff;
}
.dragon {
  background-color: #4d00b3;
  color: #4d00b3;
}
.dark {
  background-color: #4d2626;
  color: #4d2626;
}
.steel {
  background-color: #b3b3b3;
  color: #b3b3b3;
}
.fairy {
  background-color: #ff99ff;
  color: #ff99ff;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.list {
  /* min-width: 200px; */
  min-width: 220px;
  max-width: 350px;
  height: 350px;
  list-style: none;
  display: flex;
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.img {
  width: 90%;
  height: 40%;
  position: relative;
}
.img > img {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
}
.info {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  width: 100%;
  height: 75%;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 10px;
}
.name {
  margin-top: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f2f2f2;
  text-align: center;
}
.text {
  font-size: 19px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  text-align: center;
  background-color: #f2f2f2;
}
.typetext {
}
.ragtangule {
  width: 100%;
  height: 10rem;
}
.red {
  background-color: red;
  height: 70%;
  width: 100%;
  position: relative;
}
.red > img {
  width: 40%;
  min-width: 200px;
  height: 100%;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 10%;
}
.black {
  background-color: black;
  height: 30%;
  width: 100%;
}
.circule {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  background-color: #ffff;
  border: black solid 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 2rem;
}
.circule > span {
  background-color: #212121;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: black solid 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.img_header {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_header > img {
  width: 100%;
  height: 100%;
}
.input {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
  background-color: #ffff;
  height: 2.5rem;
  margin-top: 1rem;
  border: #212121 solid 1px;
}
.input > input {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: #ffff;
}
.input > button {
  width: 20%;
  height: 100%;

  border: none;
  background-color: red;
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}
.input > button:hover {
  background-color: #ffff;
  color: #212121;
}
.give_name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  color: #212121;
  margin-top: 5rem;
}

.welco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #212121;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.search_poke {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.search_characters {
  position: relative;
  /* z-index: 5; */
  /* display: none; */
  position: absolute;
}
.select_type {
  position: absolute;
  height: 2.5rem;
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  /* z-index: 1; */
  margin-top: 1rem;
}
.select_type > select {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffff;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  /* outline: none; */
}
.check_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  margin-bottom: 2.5rem;
}
.check_container > span {
  /* position: absolute; */
  font-size: 20px;
  font-weight: 600;
  color: #212121;
}
.check_container > input {
  position: relative;

  -webkit-appearance: none;
  width: 75px;
  height: 30px;
  background: #ff4d4d;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
  transition: 0.5s;
  cursor: pointer;
  margin: auto 10px;
}
.check_container > input::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: -1px;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  transform: scale(1.1);
  transition: 0.5s;
}

.check_container > input:checked[type="checkbox"] {
  background: #4da6ff;
}

.check_container > input:checked::before {
  left: 45px;
}
.pages {
  color: black;
}
.pages:hover {
  color: #4da6ff;
}
/* pokemon details */
.charactersdetails{
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: #212121;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.poke_portade{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  color: #212121;
  background: #f2f2f2;
  border-radius: 1rem;
  grid-column: 1/5;
  padding: 2rem;
}
.type_poke{
  text-align: center;
  background-color: #f2f2f2;
  grid-column: 1/3;
  height: 200px;
  padding: 3rem;
  border-radius: 1rem;
}
.type_text{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.type_text>div{
  color: #212121;
  width: 100px;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.measures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #212121;
  text-align: center;
  margin-top: 1rem;
}
.abilities{
  grid-column: 3/5;
  width: 100%;
  height: 200px;
  color: #212121;
  background: #f2f2f2;
  border-radius: 1rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  
}
.abilities>ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-decoration: none;
}
.abilities>ul>li{
  list-style: none;
  color: #212121;
  font-size: 1.5rem;
  font-weight: 600;
}
.stats{
  grid-column: 1/5;
  width: 100%;
  height: 500px;
  color: #212121;
  background-color: #f2f2f2;
}
.stats>ul>li{
  list-style: none;
  color: #212121;
  font-size: 1.5rem;
  font-weight: 600;
}
.bars_stats{
  display: flex;
  justify-content: space-between; ;
  align-items: center;
  margin: 1.5rem;

}
.bars{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  width: 70%;
  height: 100%;
  gap: 1rem;
  background-color: #b0b0b0; 
  border-radius: 10px;
}
.bars_color{
  display: flex;
  justify-content: right;
  align-items: center;
  /* width: 70%; */
  height: 100%;
  padding: 0 2rem;
  border-radius: 10px;
  background-color: #4da6ff;
}


.moves{
  grid-column: 5/6;
  grid-row: 1/5;
  width: 100%;
  color: #212121;
  display:grid;
}
